<!-- 
Oscar Lemus and Samantha Tone
9 Feb, 2019
CS 340
Group Project
-->
<!DOCTYPE html>
<html>
  <head> 
    <title>Game of Thrones - Home</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="../public/functions.js"></script>
    {{/each}}

  </head>
  <body style="background-color:black">
    <!--<script src="thrones.js"></script> --> 
    <link rel="stylesheet" href="style.css" type="text/css">
  
  <!-- Navigation Bar -->
  <div class = "container" id = "container">

      <h1> Game of Thrones Database</h1>

      <div class="video-container">
        <div class="color-overlay"></div>
        <video autoplay loop muted id="myVideo"> 
          <source src="video.mov" type="video/mp4"> 
          </video>
      </div>
    </div>

    <ul class ="nav">
      <li> <a href='/characters'>Characters</a></li>
      <li> <a href='/houses'>Houses</a></li> 
      <li> <a href='/cultures'>Cultures</a></li> 
      <li> <a href='/seats'>Seats</a></li> 
 
    </ul>

	{{{body}}}

  </body>
</html>
